<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' href='/stylesheets/style2.css' />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
		  <h2><a href="#">Quiz: el juego de las preguntas</a></span></h2>			
	  </div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/quizes">Preguntas</a>
			</li>
			<li class="current_page_item"><a href="/estadisticas">Estadisticas</a></li>
			<li><a href="/author">Créditos</a>
            </li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Estadisticas</a></h2>
                
			</div>
        <!-- Contenido de la pagina -->


<table class="estadisticas">
	<tr><td></td></tr>
	<% if(quizes>0){%>
		<tr><td>Numero de preguntas:</td><td><%= quizes %></td></tr>
		<tr><td>Numero de comentarios totales:</td><td><%= comments %></td></tr>
		<tr><td>Promedio de comentarios por preg:</td><td><%= (comments/quizes).toFixed(4) %></td></tr>
		<tr><td>Preguntas con comentarios:</td><td><%= preCom %></tr></td>
		<tr><td>Preguntas sin comentarios:</td><td><%= quizes-preCom %></tr></td>
	<%}else{%><tr><td>No hay preguntas</td></tr><%}%>
</table>



</div>
		<!-- end #content --><!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	<!-- end #footer -->
</body>
</html>
