<div class="tabla_preguntas">
	<table>
		<% var i; for (i=0; i < quizes.length; i++) { %>
		<tr>
			<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td><td id="tema"><%= quizes[i].tema %></a></td>
			<%if (session.user) {%>
			<td><a href="quizes/<%= quizes[i].id %>/edit"><button class id="edit">editar</button></a></td>
			<td>		
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
				<button class id="borra" type="submit" onClick="return confirm('Borrar: <% quizes[i].pregunta %>')">Borrar</button>
				</form>
			</td>
			<%}%>
		</tr>
		<% } %>
		<p>
		<%if (session.user) {%>
			<a href="/quizes/new"><button class id="crea" type="button">Crear pregunta</button></a>
		<%}%>
	</table><p>

</div>