<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' href='/stylesheets/style2.css' />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
		  <h2><a href="#">Quiz: el juego de las preguntas</a></span></h2>			
	  </div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="/">Inicio</a></li>
			<li class="current_page_item"><a href="/quizes">Preguntas</a>
			</li>
			<li><a href="/estadisticas">Estadisticas</a></li>
			<li><a href="/author">Créditos</a>
            </li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Preguntas</a></h2>
                
			</div>
        <!-- Contenido de la pagina -->



<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Pregunta: <%= quiz.pregunta %> <p>
	<input type="text" name="respuesta" placeholder="Respuesta"/>
	<input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong</p>
<% for(index in quiz.Comments){%>
<% if(quiz.Comments[index].publicado||session.user){%>
	<p>- <%= quiz.Comments[index].texto %>
	<% if (session.user&&!quiz.Comments[index].publicado){%>
		<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish"><button>Publicar</button></a>
	<%}%></p>
	<%}%>
<%}%>




		</div>
		<!-- end #content --><!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	<!-- end #footer -->
</body>
</html>